<nav class="navbar">
    <div class="navbar-inner">
        <span style="font-size: 1.5rem; margin-right: 10px;" @click="showFilesMobile=!showFilesMobile"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon"><line x1="4" x2="20" y1="12" y2="12"></line><line x1="4" x2="20" y1="6" y2="6"></line><line x1="4" x2="20" y1="18" y2="18"></line></svg></span>
        {% for imp in dynamics.filetree.beforeTitle %}
            {% include imp %}
        {% endfor %}
        <a href="/" style="text-decoration: none;">
            {% if meta.siteLogoPath %}
                <img class="site-logo" src="{{meta.siteLogoPath}}" alt="{{meta.siteName}}">
            {% endif %}
            <h1 class="site-name-title">{{meta.siteName}}</h1>
        </a>
        {% for imp in dynamics.filetree.afterTitle %}
            {% include imp %}
        {% endfor %}
    </div>

    <div style="display: flex; align-items: center; gap: 10px;">
        <span class="align-icon" style="cursor: pointer; padding-top: 5px;" onclick="doPrint()" aria-label="Print Page">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon"><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect width="12" height="8" x="6" y="14"></rect></svg>
        </span>
        {% if settings.dgEnableSearch === true%}
            {% include "components/searchButton.njk" %}
        {%endif%}
    </div>
</nav>