<aside>
      <div class="sidebar">
            <div class="sidebar-container">
                  {% for imp in dynamics.sidebar.top %}
                        {% include imp %}
                  {% endfor %}
                  {%if settings.dgShowLocalGraph === true%}
                        {%include "components/graphScript.njk"%}
                  {%endif%}

                  {%if settings.dgShowToc === true%}
                        {%set tocHtml= (content and (content|toc)) %}
                        {%if tocHtml %}
                              <div class="toc">
                                    <div class="toc-title-container">
                                          <div class="toc-title">
                                                {% if title %}{{ title }}{% else %}{{ page.fileSlug }}{% endif %}
                                          </div>
                                    </div>
                                    <div class="toc-container">
                                          {{ tocHtml | safe }}
                                    </div>
                              </div>
                        {%endif%}

                  {%endif%}

                        {%if settings.dgShowBacklinks === true %}
                              {%if settings.dgShowBacklinks === true %}
                              <div class="backlinks">
                                    <div class="backlink-title">{{ meta.uiStrings.backlinkHeader }}</div>
                                          <div class="backlink-list">
                                          {%- set backlinkData = page.url | getBacklinks -%}
                                          {%- if backlinkData -%}
                                                {%- if backlinkData.resolvedBackLinks.length === 0 -%}
                                                      <div class="backlink-card">
                                                            <span class="no-backlinks-message">{{ meta.uiStrings.noBacklinksMessage }}</span>
                                                      </div>
                                                {%- endif -%}
                                                {%- for blNode in backlinkData.resolvedBackLinks -%}
                                                      {%- if blNode.url != page.url -%}
                                                      <div class="backlink-card">
                                                            {%- if not meta.noteIconsSettings.backlinks -%}<i  data-lucide="link"></i> {%- endif -%}<a href="{{blNode.url}}" data-note-icon="{{blNode.noteIcon}}" class="backlink">{{blNode.title}}</a>
                                                      </div>
                                                      {%- endif -%}
                                                {%- endfor -%}
                                          {%- endif -%}
                                    </div>
                              </div>
                        {%endif%}
                  {%endif%}
                  {% for imp in dynamics.sidebar.bottom %}
                        {% include imp %}
                  {% endfor %}
            </div>
      </div>
</aside>