---
permalink: /searchIndex.json
eleventyExcludeFromCollections: true
---
[{% for post in collections.note %}{% if not post.data.noshow %}
{
  "title": {% if post.data.title %}{{post.data.title | jsonify | safe }}{% else %}{{post.fileSlug | jsonify | safe }}{% endif %},
  "date": "{{ post.date }}",
  "url": "{{ post.url }}",
  "content": {{ post | searchIndexContent | jsonify | safe }},
  "tags": [
    {% set sTags = post.rawInput | searchableTags %}
    {% if sTags %}{{ sTags | safe }}{% endif %}
    {% if post.data.tags %}
      {% if sTags %},{% endif %}
      {% for tag in post.data.tags %}
        "{{tag|validJson}}"{% if not loop.last %},{% endif %}
      {% endfor %}
    {% endif %}
  ]
}{% if not loop.last %},{% endif %}
{% endif %}{% endfor %}]
